<h1>Crypto currencies</h1>
<select name="currencies" id="currencies">
  <% for( let index = 0; index < currencies.length; index++ ) { %>
    <option value="<%= currencies[index].id %>"><%= currencies[index].name %></option>
  <% } %>
</select>